html, body {
    margin: 0;
    padding: 0;
    background-color: #36454F;
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#database {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filmCard {
    position: relative;
    max-width: 200px;
    margin-bottom: 30px;
}

.filmImg {
    width: 100%;
}

.filmTitle {
    position: absolute;
    bottom: 25px;
    left: 5px;
}

.ratingBlock {
    background-color: #00264C;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ratingImg {
    height: 20px;
}